POSTGRES_DB=ax_prontier
POSTGRES_USER=ax_prontier
POSTGRES_PASSWORD=ax_prontier
POSTGRES_PORT=5432

DB_URL=jdbc:postgresql://localhost:5432/ax_prontier
DB_USERNAME=ax_prontier
DB_PASSWORD=ax_prontier
AI_SERVER_BASE_URL=http://localhost:8000
CORS_ALLOWED_ORIGINS=*
